= render "catalog/navs"
.container
	.row
		= render "catalog/add_recipe"
		.col-md-10
			%h2 Список покупок
			%p На этой странице Вы можете увидеть все ингредиенты, которые необходимы, чтоыб приготовить всё блюда из Вашей продуктовой корзины