.modal.fade.in#warning_username
    .modal-dialog
        .modal-content
            .modal-header
                %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
                %h2 Внимание!
            .modal-body
                %p Username, указанный в соцсети, уже используется на сайте.
                %p Вход через эту соцсеть не удасться осуществить