.modal.fade.in#warning_modal
    .modal-dialog
        .modal-content
            .modal-header
                %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
                %h2 Внимание!
            .modal-body
                %p Для доступа к этим функциям необходимо зарегистрироваться на сайте