.modal.fade.in#new_recipe
    .modal-dialog
        .modal-content
            .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                %h2 Спасибо!
            .modal-body
                %p Ваш рецепт появится в каталоге после модерации