.banner
	= image_tag("banner.jpg", class: "img-responsive", alt: "Баннер")
	.intro-text
		%h1 Поварской сайт "Петрушка" - проект на Ruby on Rails
.container
	.row
		.col-xs-12
			%h2 Добро пожаловать на тестовый сайт!
			%h3 История изменений
			%p 15 марта - Создание категорий товаров, есть контроль доступа
			%p 16 марта - Текстовые пути в адресной строке (вместо id), ограничение доступа для изменения структуры сайта
			%p 17 марта - Корректно функционируют действия с рецептами, внедрение simple_form
			%p 18 марта - настройка виртуальных хостов apache + passenger
			%p 29 марта - Корректно функционирует добавление нового рецепта с ингредиентами, фотографией (нужна регистрация)
			%p 2 апреля - Внедрено динамическое добавление ингредиентов к рецепту + кол-во ингредиента и мера, в базу данных внесены ингредиенты и меры
			%p 4 апреля - Перенос сайта на новый сервер, новый логотип
			%p 5 апреля - Добавлены комментарии к рецептам (нужна регистрация)
			%p 14 апреля - Доработка навигатора рецептов
			%p 16 апреля - Внедрена система рейтингов для рецептов (нужна регистрация)
			%p 17 апреля - Внедрена "Продуктовая корзина" для подсчета кол-ва ингридиентов избранных рецептов (нужна регистрация, пока без самого расчета)