<div class="banner">
    <img class="img-responsive" src="/assets/banner.jpg" alt="Баннер" />
    <div class="intro-text">
      <h1>Тестовый поварской сайт на Ruby on Rails</h1>
      <p>Учимся программировать на RoR</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Добро пожаловать на тестовый сайт!</h2>
      </div>
    </div>
  </div>