.banner
  = image_tag("banner.jpg", class: "img-responsive", alt: "Баннер")
  .intro-text
    %h1 Тестовый поварской сайт на Ruby on Rails
    %p Учимся программировать на RoR
.container
  .row
    .col-xs-12
      %h2 Добро пожаловать на тестовый сайт!
      %p 15 марта - Создание категорий товаров, есть контроль доступа