// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic);

* {
	font-family: 'Ubuntu', sans-serif;
}

html {
	overflow-y: scroll;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	padding-top: 70px;
	position: relative;
	font-size: 20px;
	line-height: 1.5;
	color: #000;

	.container {
		width: 98%;
		margin: 0 auto;
		position: relative;

		&.country {
			width: 70%;

			.row div {
				padding: 2px 10px;

				@media screen and (max-width: 1170px) {
					padding: 2px 5px;
				}
			}

			img {
				border: 1px solid #AAA;
			}

			img:hover {
				box-shadow: 0 0 10px #AAA;
			}
		}
	}

	h2, h3 {
		margin-top: 0;
	}

	h4 {
		font-weight: 600;
	}

	.navbar {
		padding: 10px 0 10px 10px;
		margin: 0;
		width: 100%;

		.navbar-brand {
			padding: 0;

			@media screen and (max-width: 768px) {
				width: 190px;
				padding-top: 3px;
			}
		}

		.navbar-nav li {
			text-align: center;

			@media screen and (max-width: 768px) {
				width: 150px;
			}
		}

		.auth_box {
			position: absolute;
			right: 20px;
			top: 20px;
			color: #FFF;

			span {
				margin-right: 20px;
			}

			@media screen and (max-width: 768px) {
				right: 70px;
			}
		}
	}

	.navbar-inverse .navbar-nav > li > a {
		color: #FFF;
	}

	.navbar-inverse .navbar-nav > li:hover > a {
		color: #5ab400;
	}

	.panel-heading, .panel-body {
		padding: 10px 15px;
		position: relative;
	}

	.panel-heading h2 {
		margin: 0;
	}

	.panel-body .container {
		margin: 20px auto 10px;
	}

	.help-block {
		display: none;
	}

	.img-responsive {
		width: 100%;
	}

	.paginator {
		.pagination {
			margin: 7px auto;

			span {
				background: #CCC;
				padding: 6px 10px 6px 12px;
				margin: 0 1px;
				border-radius: 3px;

				&.current {
					background: #f0ad4e;
				}

				&.first a, &.last a {
					display: none;
				}

				&.first, &.last {
					background: transparent;
					padding: 0 10px;
					float: right;
				}

				a {
					color: #000;
				}
			}
		}
	}

	@media (min-width: 996px) and (max-width: 1170px) {
		.add_recipe a {
			font-size: 10px;
		}
	}
}

.modal-open {
	padding-right: 0 !important;
}

.banner {
	box-shadow: 0 0 20px #000;
	position: relative;
	overflow: hidden;

	img {
		position: relative;
		min-width: 960px;
		min-height: 500px;
	}
}

.intro-text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	background: rgba(0,0,0,0.40);

	h1 {
		position: relative;
		top: 40%;
		left: 5%;
		width: 94%;
		font-size: 50px;
		text-transform: uppercase;

		@media (max-width: 1170px) {
			font-size: 40px;
		}
	}
}

#recipe_navigator {
	float: left;
	padding: 8px 12px 6px;
	margin-right: 20px;
}

.head_h2 {
	text-align: center;
}

.btn {
	color: #FFF;
}

.recipe_block {
	margin: 10px auto;

	h3 {
		text-align: center;
		font-size: 30px;
		margin-bottom: 20px;
	}

	.recipe_img {
		border: 3px solid #FFF;
		border-radius: 5px;
		box-shadow: 0 0 10px #777;
	}
}

.ings {
	overflow: hidden;

	input {
		width: 100%;
	}
}

.user_comment {
	margin: 30px 0;
}

.stars_block {
	margin-bottom: 10px;
}

#Rate {
	p {
		display: inline;
		width: 30px;
		height: 30px;
		margin-left: -3px;
	}

	p:last-child {
		margin-left: -4px;
	}
}

#cart, #add_recipe {
	width: 100%;
}

.ch-grid {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid .up {
	padding: 0 2px;
	margin: 2px 0;
	border-radius: 50%;
	overflow: hidden;
}

.ch-grid:after, .ch-item:before {
	content: '';
	display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	margin: 0;
	width: 100%;
	height: 100%;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: inset 0 0 0 0 rgba(92,184,63,0.5), inset 0 0 0 10px rgba(220,220,220,0.7), 0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
	background-size: 100% 100%;
}

.ch-img-1 {
	background-image: image-url('clean-all.png');
}

.ch-img-2 {
	background-image: image-url('clean-snacks.png');
}

.ch-img-3 {
	background-image: image-url('clean-salads.png');
}

.ch-img-4 {
	background-image: image-url('clean-soups.png');
}

.ch-img-5 {
	background-image: image-url('clean-hots.png');
}

.ch-img-6 {
	background-image: image-url('clean-porridges.png');
}

.ch-img-7 {
	background-image: image-url('clean-desserts.png');
}

.ch-img-8 {
	background-image: image-url('clean-pastries.png');
}

.ch-img-9 {
	background-image: image-url('clean-sauces.png');
}

.ch-img-10 {
	background-image: image-url('clean-drinks.png');
}

.ch-img-11 {
	background-image: image-url('clean-dough.png');
}

.ch-img-12 {
	background-image: image-url('clean-jam.png');
}

.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
	display: table;

	a {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		font-size: 20px;
		font-weight: 600;
		color: #FFF;

		@media screen and (max-width: 768px) {
			font-size: 14px;
		}

		@media (min-width: 990px) and (max-width: 1170px) {
			font-size: 12px;
		}

		@media (min-width: 1171px) and (max-width: 1300px) {
			font-size: 16px;
		}
	}

	a:hover {
		color: #FFF;
	}
}

.ch-item:hover {
	box-shadow: inset 0 0 0 110px rgba(92,184,63,0.6), inset 0 0 0 10px rgba(220,220,220,0.7), 0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	opacity: 1;
	transform: scale(1);
}

#clock, #eye {
	width: 30px;
}

#basket {
	list-style: none;
	margin: 20px 0 30px;

	div {
		padding: 0 5px;
	}

	#name, .quantity {
		padding-top: 4px;
	}

	.quantity {
		p {
			text-align: right;
		}
	}

	#plus, #minus {
		float: left;
	}

	#minus input, #plus input {
		width: 28px;
		height: 28px;
		padding: 0;
		color: #000;
	}
}

#count {
	float: right;
}

#measure_name {
	float: left;
}

#recipe_caption, input[id^="recipe_steps_"] {
	height: 100px;
}

.step .col-xs-12 {
	margin-bottom: 20px;
}

.forms {
	margin-bottom: 30px;
}